.project-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.project-intro {
  max-width: 500px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto 1.5em;
  line-height: 1.4em;
}

.giusa-title {
  margin-bottom: 1.5em;
}

.bh-image {
  max-width: 600px;
  align-self: center;
  margin-bottom: 2.2em;
}

.project-text {
  line-height: 1.8em;
  margin: 0 0 2.2em;
}

.project-image-title {
  align-self: start;
  margin-bottom: 20px;
}

.project-map {
  margin-bottom: 1.8em;
}
